*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Libre Caslon Display", serif;
}

p, a, h4{
    font-family: "Montserrat", sans-serif;
}

.nav-bar-logo a:hover{
    text-decoration: none;
}

a:hover{
    text-underline-offset: 10px;
    text-decoration: underline;
}

nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 2% 5%;
}

.nav-bar-logo{
    display: flex;
    height: fit-content;
    width: 20vw;
    justify-content: space-evenly;
}

nav a{
    color: white;
    text-decoration: none;
}

.nav-bar-links{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-evenly;
    align-items: center;   
}

.nav-bar-logo h2{
    font-size: 2rem;
    margin-bottom: -50px;
}

.home-page{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5%;
    justify-content: space-around;
}

.home-text{
    display: flex;
    flex-direction: column;
    width: 40vw; 
    height: 25vw;
    justify-content: end;
}

.home-text h1{
    font-size: 4rem;
    margin-bottom: 40px;
}

.home-image{
    display: flex;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    align-items: end;
    border-radius: 20px;
}

.home-image img{
    width: 120%;
}

#home-page-2 .home-image{
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    padding: 5%;
    justify-content: space-between;
}

.footer-logo{
    width: 30vw;
}

.footer-logo a{
    color: white;
    text-decoration: none;
}

.footer-logo p{
    font-size: 0.9rem;
    margin-top: 4%;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.558);
}

.footer-links{
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.footer-links-holder{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.757);
    align-content: end;
    width: 20vw;
}

.footer-links-holder a{
    color: rgba(255, 255, 255, 0.565);
    text-decoration: none;
    margin-top: 2%;
}

.footer-links-holder a:hover{
    text-underline-offset: 5px;
    text-decoration: underline;
}